body {background: #26353f;
background: -moz-linear-gradient(left,  #26353f 0%, #12141e 49%, #1a272d 51%, #332742 83%, #161c26 100%);
background: -webkit-linear-gradient(left,  #26353f 0%,#12141e 49%,#1a272d 51%,#332742 83%,#161c26 100%);
background: linear-gradient(to right,  #26353f 0%,#12141e 49%,#1a272d 51%,#332742 83%,#161c26 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26353f', endColorstr='#161c26',GradientType=1 );
color:#FFF;}
.box-title h1 {color:#000;}
.budget-app {
  text-align: center;
}

input {background:none;border:none;}
.main {display:flex;}
.box-container {
  flex: 1 1 50%; /* additionally, equal width */
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.box{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;

	background: #1f2134;
	background: -moz-linear-gradient(left, #1f2134 0%, #3b3f5e 100%);
	background: -webkit-linear-gradient(left, #1f2134 0%,#3b3f5e 100%);
	background: linear-gradient(to right, #1f2134 0%,#3b3f5e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2134', endColorstr='#3b3f5e',GradientType=1 );
}

.box-Outcome .box {
	background: #3b3f5e;
	background: -moz-linear-gradient(left,  #3b3f5e 0%, #1f2134 100%);
	background: -webkit-linear-gradient(left,  #3b3f5e 0%,#1f2134 100%);
	background: linear-gradient(to right,  #3b3f5e 0%,#1f2134 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3f5e', endColorstr='#1f2134',GradientType=1 );
}
.box-holder {
    display: inline-table;
}

.total-value input {
    font-size: 44px;
    color: #000;
    width: 84%;
    text-align: right;
}
.footer-total .total-value input {

text-align:center;
color:#FFF;
	}


.footer-total {
    width: 93%;
    margin: 0 auto;
    text-align: center;
    padding:20px;
    background: #292859;
background: -moz-linear-gradient(left,  #292859 0%, #2e2e36 100%);
background: -webkit-linear-gradient(left,  #292859 0%,#2e2e36 100%);
background: linear-gradient(to right,  #292859 0%,#2e2e36 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292859', endColorstr='#2e2e36',GradientType=1 );

}
.total-value input {color:#FFF;}
.box-total .total-value:after {
    display: block;
    content: "TOTAL";
    position: absolute;
    left: 10px;
    top: 40%;
}
.box-total {
    position: relative;
}
.box-total .total-value {
    background:none;
    flex: 1 1 100%;
    display: flex;
    background-size: 100%;
    height: 107px;
}

form.item-edit {
    height: 50px;
    position: relative;
}

form.item-edit input {
    height: 20px;
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    font-style: italic;
    background: rgba(250,250,250,0.09);
    margin-right: 15px;
    padding: 10px;
    float:left;
    border-right: 3px solid darkgray;
    border-radius: 6px 0;
}
form.item-edit input:first-child {
    width: 45%;
}
form.item-edit input:nth-child(2) {
    width: 20%;
}


.nav button {
    margin-top: 12px;
    text-indent: -9999em;
    border: none;
    background: url("../img/add.png") no-repeat scroll 0 0 transparent;
    width: 65px;
    height: 29px;
    cursor: pointer;
    opacity:0.7;
}
.nav button:hover {opacity:1;}

input, select, textarea {
    font-size: 16px;
    color: #FFF;
}



.box-title{

	padding: 10px;
	text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;

	background: #2d304b;
	background: -moz-linear-gradient(top,  #2d304b 0%, #161826 100%);
	background: -webkit-linear-gradient(top,  #2d304b 0%,#161826 100%);
	background: linear-gradient(to bottom,  #2d304b 0%,#161826 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d304b', endColorstr='#161826',GradientType=0 );

}
.box-title h1 {
  text-shadow: 0px 0px 1px #74799d;
  margin: 0 auto;
}
.box-income{
	 margin-right: 15px;
}
.box-outcome{}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0px;
}

li.dataline {
    background: none;
    padding: 10px;
}
li.dataline:nth-child(odd) {
    background: rgba(250,250,250,0.03);
}
.dataline span {
    color: #6f74a1;
    text-shadow: 1px 1px #000;
}

.dataline span:first-child {
    float: left;
    width: 50%;
    text-align: right;
}
.dataline span:nth-child(2) {
    float: right;
    color: #aaafdb;
    width: 44%;
    text-align: left;
}
.dataline {
    position: relative;
    height:15px;
    display:block;
}
.dataline button {
    position: absolute;
    left: 0px;
    border: none;
    color: #FFF;
    font-size: 24px;
    background: none;
    top: 2px;
}
li.dataline button {
    display: none;
}

li.dataline:hover button {
    display: block;
}









.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
